body{
    margin: 5% 0 0 0;
    padding: 0;
    background-color: rgb(238, 231, 198);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    column-gap: 2%;
}

nav a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

nav a:visited{
    color: rgb(102, 98, 70);
}

nav a:focus-visible{
    color: black;
    text-decoration: underline;
}

header p{
    font-size: larger;
    font-style: italic;
    text-align: center;
}

dt{
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 5px;
}

dd{
    font-weight: 800;
    font-style: italic;
    padding: 0 0 15px 10px;
}

main{
    padding: 0 5% 0 5%;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16vw;
    font-weight: bolder;
    line-height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 50px;
    line-height: 1.5;
    font-family: cursive;
    font-weight: bolder;
}

h3{
    font-size: 30px;
    margin-bottom: 6%;
    font-family: cursive;
    font-weight: bold;
}

div h2{
    margin-top: 40px;
}

img + h3{
    font-size: 24px;
    font-weight: bolder;
    margin: 5px 0 10px 0;
}

p + h3{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 15px 0 5px 0;
}

h3 + ul{
    font-style: italic;
}

p{
    font-size: 16px;
    line-height: 1.5;
    padding: 2% 0 0 2%;
}

li{
    display: inline-flex;
    padding: 8px 12px 8px 12px;
    align-items: center;
}

/* li a{
    font-size: larger;
} */

img{
    /* display: flex;
    flex-grow: 1; */
    height: auto;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 8px;
    /* padding: 20px; */
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 10px 10px 12px rgb(155 149 122)
}

img:nth-of-type(odd){
    border: 10px solid black ;
} 

div{
    padding: 20%;
}

footer{
    background-color: rgb(221, 213, 173);
    margin: 5% 0 0 0;
    padding: 2% 0 2% 5%;
    display: grid;
    grid-template-columns: 26px auto 26px auto;
    align-items: baseline; 
}

footer a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
}

.current{
    background-color: rgb(211, 206, 177);
    border-radius: 24px;
    border: 2px solid black;
    color: black;
}

/* .li{
    background-color: blue;
} */

.container {
    display: grid;
}

ul li .fa-house {
    grid-column-start: 1 ;
    grid-row-start: 1;
}

.fa-circle-up{
    grid-column-start: 3;
    grid-row-start: 1;
}

.back-to-top{
    grid-column-start: 4;
    grid-row-start: 1;
}

.thanks, .og-content{
    grid-column-start: 2;
}

.Feminist-Dictionary-bg:not(.Feminist-Dictionary-bg h1, .Feminist-Dictionary-bg p){
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/iran.jpg");
    background-size: contain;
    margin-bottom: 5%;
    padding: 2%;
    animation: pulse 10s ;
    animation-timing-function: ease-in-out;
}

.Feminist-Dictionary-bg h1, .Feminist-Dictionary-bg p {
    /* -webkit-text-stroke-width: 4px; */
    -webkit-text-stroke-color: black;
    color: rgb(227, 227, 227);
}

.DISCLAIMER p {
    font-style: italic;
}

@keyframes pulse{
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 100%;
        }
    40% {
        opacity: 40%;
    }
    60% {
        opacity: 100%;
    }
    80% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
} 



/*grid layouts for each page  */

/* mobile grid layout */

@media only screen and (min-width: 320px){

h1{
    font-size: 12vw;
}

h3{
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 2%;
}

.Literature, .History-Politics, .Feminist-Dictionary{
    padding: 4%;
    margin: 4% 0;
    border: 4px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

h2, h3{
    text-align: center;
}

dl{
    display: block;
    padding: 4%;
    background-color: rgb(211, 206, 177);
}

}


/* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */
/* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */
/* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */ /* tablet grid layout */


@media only screen and (min-width: 768px){

/* grid stuff BEGINS */
#main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1%;
    column-gap: 2%;
    margin-bottom: 8%;
}

.header-image, .about, .DISCLAIMER{
    grid-column: 1 / span 4;
}

h2{
    line-height: 1.25;
}

h3{
    margin-bottom: 2%;
}

footer{
    display: grid;
    grid-template-columns: 26px auto 26px auto;
    
}

#authors{
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
}

h3 + ul{
    display: block;
}


#history{
    grid-template-columns: 1fr 1fr; 
    column-gap: 4%;
}

ul li .fa-house {
    grid-column-start: 1 ;
    grid-row-start: 1;
}

.fa-circle-up{
    grid-column-start: 3;
    grid-row-start: 1;
}

.back-to-top{
    grid-column-start: 4;
    grid-row-start: 1;
}

.thanks, .og-content{
    grid-column-start: 2;
}

/* grid stuff ENDS */

body{
    margin: 2% 0 0 0;
}

ul {
    flex-direction: row;
    column-gap: 0%;    
}

h1{
    font-size: 10vw;
}

.Literature h3, .History-Politics h3, .Feminist-Dictionary h3{
    line-height: 125%;
}

.Literature{
    grid-column: 1 / span 2;
    padding: 4% 0%;
}

.History-Politics {
    grid-column: 3 / span 2;
    padding: 4% 0%;
}

.Feminist-Dictionary{
    grid-column: 1 / span 4;
    padding: 4% 0%;
}

dl{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    padding: 2%;
    background-color: rgb(211, 206, 177);
    grid-template-columns: 50% 50% 50% 60% 50% 50% 50% 50% 90% 50% 50% 50%;
    overflow: scroll;
    column-gap: 5%;
}

}

/* desktop grid layout */ /* desktop grid layout */ /* desktop grid layout */ /* desktop grid layout */ /* desktop grid layout */
/* desktop grid layout */ /* desktop grid layout */ /* desktop grid layout */ /* desktop grid layout */ /* desktop grid layout */
@media only screen and (min-width: 992px){

/* global column styling */
#main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto ;
    row-gap: 5%;
    column-gap: 2%;
    margin-bottom: 14%;
}

.header-image, .about, .DISCLAIMER{
    grid-column: 1 / span 3;
}

.Literature{
    grid-column: 1 / span 1;
    padding: 4% 0%;
}

.History-Politics {
    grid-column: 2 / span 1;
    padding: 4% 0%;
}

.Feminist-Dictionary{
    grid-column: 3 / span 1;
    padding: 4% 0%;
}

#authors{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
}

h3 + ul{
    display: block;
}

#history{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
}

ul {
    /* display: flex; */
    flex-direction: row;
}

nav a:hover {
    text-decoration: underline;
    /* font-weight: bold; */
    color: black;
}

/* #dictionary{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
} */

dl{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    padding: 2%;
    background-color: rgb(211, 206, 177);
    grid-template-columns: 50% 50% 50% 60% 50% 50% 50% 50% 80% 50% 50% 50%;
    overflow: scroll;
    column-gap: 5%;
}


/* doesnt make sense and confused interaciton ebcause color change hapesn seperrate
from the link clicking text decoration underline feature */

/* .fa-solid:hover{
    color: blueviolet;
} */


.Literature:hover, .History-Politics:hover, .Feminist-Dictionary:hover {
    border: 4px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 10px 10px 12px rgb(139, 133, 109);
}

.Literature, .History-Politics, .Feminist-Dictionary {
    padding: 10% 6%;
}


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .intro{
      background-attachment: initial;
    }
  }

}
