body{
    margin: 5% 0 0 0;
    padding: 0;
    background-color: rgb(238, 231, 198);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    column-gap: 2%;
}

nav a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    /* color: black; */
    font-style: oblique;
    /* font-size: 25px; */
}

nav a:visited{
    color: rgb(102, 98, 70);
}

nav a:focus-visible{
    color: black;
    text-decoration: underline;
}

header p{
    font-size: larger;
    font-style: italic;
    text-align: center;
}

dt{
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 5px;
}

dd{
    font-weight: 800;
    font-style: italic;
    padding: 0 0 15px 10px;
}

main{
    /* display:flex;
    align-items: wrap; */
    padding: 0 5% 0 5%;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16vw;
    font-weight: bolder;
    line-height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 50px;
    line-height: 1.5;
    font-family: cursive;
    font-weight: bolder;
}

h3{
    font-size: 30px;
    margin-bottom: 6%;
    font-family: cursive;
    font-weight: bold;
}

div h2{
    margin-top: 40px;
}

img + h3{
    font-size: 24px;
    font-weight: bolder;
    margin: 5px 0 10px 0;
}

p + h3{
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin: 15px 0 5px 0;
}

h3 + ul{
    font-style: italic;
}

p{
    font-size: 16px;
    line-height: 1.5;
    /* padding: 2% 0 0 2%; */
}

li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

/* li a{
    font-size: larger;
} */

img{
    /* display: flex;
    flex-grow: 1; */
    height: auto;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 24px;
    /* padding: 20px; */
    border-radius: 8%;
}

img:nth-of-type(odd){
    border: 10px solid black ;
} 

div{
    padding: 20%;
}

footer{
    background-color: rgb(221, 213, 173);
    margin: 5% 0 0 0;
    padding: 2% 0 2% 5%;
}

footer a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
}

/* footer p {
    margin: 2%;
} */

.current{
    font-size: x-large;
}

.container {
    display: grid;
}


@keyframes pulse{
    from {
        margin-left: 100%;
        width: 100%;
        }

    to {
        margin-left: 0%;
        width: 100%;
        }
} 

.Feminist-Dictionary-bg{
    background-image: url("../images/iran.jpg");
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    /* height: 450px; */
    background-size: contain;
    /* background-clip: padding-box; */
    margin-bottom: 5%;
    padding: 2%;
    animation: pulse 20s ;
}

.Feminist-Dictionary-bg {
    /* -webkit-text-stroke-width: 4px; */
    -webkit-text-stroke-color: black;
    color: rgb(237, 237, 237);
}


/*grid layouts for each page  */
@media screen and (min-width: 800px){

ul {
    /* display: flex; */
    flex-direction: row;
}

#main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5%;
    column-gap: 2%;
    margin-bottom: 16%;
}

#authors{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
}

h3 + ul{
    display: block;
}

#history{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
}

/* #dictionary{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
} */

dl{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 40%);
    overflow: scroll;
    column-gap: 5%;
}

.header-image, .about, .DISCLAIMER{
grid-column: 1 / span 3;
}

footer{
    display: grid;
    grid-template-columns: 26px auto 26px auto; 
}

.fa-solid:hover{
    color: blueviolet;
}

.fa-house {
    grid-column-start: 1 ;
    grid-row-start: 1;
}

.fa-circle-up{
    grid-column-start: 3;
    grid-row-start: 1;
}

.back-to-top{
    grid-column-start: 4;
    grid-row-start: 1;
}

.thanks, .og-content{
    grid-column-start: 2;
}

/* dt, dl{
    display: block;
} */

/* @media screen and (min-width: 800px){

ul {
    display: flex;
    flex-direction: column;
}

} */

/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .intro{
      background-attachment: initial;
    }
  }

}
